**/__pycache__
**/throw-away-github-acc.txt
**/GithubScanner.py
**/*proxy*.txt
**/*proxy*.csv
**/*proxy*.json
**/*proxies*.txt
**/*proxies*.csv
**/*proxies*.json
**/codebase-txt
**/credentials.*
**/mubeng-log*.*
**/CloudflareBypassForScraping
getproxy/proxy-lists/


!**/sites-to-get-proxies-from.txt
!/proxies/*.txt